
.story-content-text {
    width: 100%;
    position: absolute;
    bottom: 50px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Adjust text color for better readability */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px; /* Adjust font size as needed */
    text-align: center;
}


.dropdown-menu {
    position: absolute;
    color: white;
    width: 250px;
    top: 100%;
    right: 0;
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;
}
.dropdown-container {
    position: absolute;
    top: 8px;
    right: 6px;
    display: inline-block;
    z-index: 11;
}
  
.three-dots-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--accent-color)
}
  
.dropdown-item {
    padding: 8px 16px;
    width: 100%;
    background-color: var(--secondary-color);
    text-align: left;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  
.dropdown-item:hover {
    background-color: var(--accent-color-darker);
}
  

.dropdown-item.delete:hover {
    background-color: red;
}


.edit-visibility-within-story {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.edit-visibility-within-story:hover {
    background-color: var(--accent-color-darker);
}

.within-story-visibility {
    position: absolute; 
    top: 50px; 
    right: 0;
    width: 250px;
    height: 150px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 11; 
}

.within-story-visibility label {
    display: flex;
    align-items: center;
    padding: 4px 0;
    cursor: pointer;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
}

.within-story-visibility label:hover {
    background-color: var(--primary-color);
    border-radius: 3px;
}

.within-story-visibility input[type="radio"] {
    margin-right: 20px; /* Adjust the space between the radio button and the text */
    appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid grey;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    cursor: pointer;

}

.within-story-visibility input[type="radio"]:checked {
    border-color: var(--accent-color);
    background-color: transparent;
}


.within-story-visibility input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.within-story-visibility label {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all  0.3s ease;
}