:root {
    --primary-color: #0A122F; /* Define the color as a CSS variable */
    --dots-color: #0A122F;
    --secondary-color: #0A254A;
    --third-color:#8D6AEE;
}

.unread {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Define fixed width */
    height: 40px; /* Define fixed height */
    margin-left: 8%;
}

/* For rendering the unread message count */
.unread-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; /* Define width */
    height: 25px; /* Define height */
    color: white;
    background-color: var(--third-color); /* Background color */
    border-radius: 50%; /* Make it a perfect circle */
    font-size: 12px; /* Text size */
    font-weight: bold; /* Text bold for better visibility */
    text-align: center;
}

/* For rendering the @ symbol when tag is true */
.unread-at {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; /* Define width */
    height: 25px; /* Define height */
    color: white;
    background-color: var(--third-color); /* Background color */
    border-radius: 50%; /* Make it a perfect circle */
    font-size: 12px; /* Text size */
    font-weight: bold; /* Text bold for better visibility */
    text-align: center;
}
