
.single-chat-messages-list {
    width: 85%;
    height: 100%;
    margin: 0 auto; /* centers the div horizontally */
    display: flex;
    overflow-y: auto;
    flex-grow: 1;
    gap: 1rem;
    flex-direction: column-reverse;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.single-chat-messages-list::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}