
.message {
    
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    max-width: 50%;
    border-radius: 6px;
    padding-bottom: 7px;
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 7px;
    color: var(--text-color);
}

.message.sender {
    align-self: flex-end;
    border-bottom-right-radius: 0;
    background-color: var(--accent-color);
}

.message.reciever {
    align-self: flex-start;
    border-bottom-left-radius: 0;
    background-color: var(--primary-color);
}

.message-info {
    align-self: flex-end;
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

.message-status,
.message .time {
    font-size: 12px;
}

.message-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .message-text {
    word-wrap: break-word;
  }
  
  .message-file {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
  }
  
  .message-image {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .message-file a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* color: var(--link-color); */
    text-decoration: none;
    font-weight: 500;
  }
  