.chat-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;    
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.chat-list::-webkit-scrollbar {
    display: none; 
}

.chat-item-container {
    height: 70px;
    width: 100%;
    background-color: #0A122F;
}
