.messaging-info-read-deliver {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background-color: var(--secondary-color);
    border-radius: 15px ;
    background-image: url('./assets/images/chat-background-pattern.svg');
    flex-grow: 1;
}


.message-info-content {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    max-width: 50%;
    border-radius: 6px;
    padding-bottom: 7px;
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 7px;
    color: var(--text-color);
    background-color: var(--accent-color);
    align-self: flex-end;
    text-align: right;
    border-bottom-right-radius: 0;
}

.message-status {
    font-size: 12px;
}

.delivered-at {
    color: white;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px; 
    margin-top: 20px;
    font-size: 20px;
}

.read-at {
    color: white;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
}
