:root {
    --primary-color: #0A122F; 
    --dots-color: #0A122F;
    --secondary-color: #0A254A;
    --third-color:#8D6AEE;

}

.single-chat {
    border: 1px solid var(--secondary-color);
    height: 100%;
    width: 100%;
    box-sizing: border-box; 
}

.single-chat:hover {
    background-color: var(--secondary-color);
}

.single-chat-content {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}


.profile-pic-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 50%; 
    width: 65px;
    height: 65px;
    flex-shrink: 0;
    margin-left: 1%;
    border: none; 
}
.profile-pic-wrapper.has-story {
    border: 1px solid var(--third-color); 
}

.profile-pic {
    border-radius: 50%; 
    width: 55px;
    height: 55px;
    border: none; 
}


.content {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    margin-left: 3%;
    box-sizing: border-box;
}

.user-info {
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: space-between; 
}

.name-container {
    width: 60%;     
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1; 
    justify-content: flex-start; 
    align-items: center;
    margin-top: 2%;
}


.ticks-info {
    min-width: 40%; 
    width: 40%;
    height: 100%;
    display: flex;
    flex-shrink: 0;  
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.tick {
    width: 30%;
    height: 100%;
}

.message-time {
    width: 70%;
    height: 100%;
    margin: 0;
}

.unread-time {
    color: var(--third-color); 
    margin: 0;
}

.user-name {
    text-overflow: ellipsis; 
    font-size: clamp(15px, 5vw, 20px); 
    color: white;
    height: 100%;
    display: flex;
    white-space: nowrap; 
    overflow: hidden; 
    position: relative; 
}

.user-name::after {
    content: '...'; 
    position: absolute; 
    right: 0; 
    background: var(--primary-color); 
    visibility: hidden; 
}

.user-name.hovered::after {
    content: '...'; 
    position: absolute; 
    right: 0; 
    background: var(--secondary-color); 
    visibility: hidden; 
}

.user-name.overflow::after {
    visibility: visible; 
}

.muted-bell {
    width: 20%;
    height: 100%;
    margin-top: 3%;
}

.messaging-info {
    display: flex;
    height: 50%;
    align-items: center;
    width: 100%;
    position: relative; 
}

:root {
    --primary-color: #0A122F; 
    --dots-color: #0A122F;
    --secondary-color: #0A254A;
    --third-color:#8D6AEE;
}

.unread {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    margin-left: 8%;
}

.unread-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; 
    height: 25px; 
    color: white;
    background-color: var(--third-color); 
    border-radius: 50%; 
    font-size: 8px; 
    font-weight: bold;
    text-align: center;
}

.unread-at {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; 
    height: 25px; 
    color: white;
    background-color: var(--third-color); 
    border-radius: 50%; 
    font-size: 8px; 
    font-weight: bold;
    text-align: center;
}
