
.message-input {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 5px 10px;
    outline: none;
    resize: none;
    font-size: 20px;
    flex-grow: 1;
}

.message-input::placeholder {
    color: var(--text-color);
}



.emojis-container{
    color: var(--accent-color);
    font-size: 24px;
}