
.GifPickerReact.gpr-main {
    background-color: #2b2b2b !important;
    border-color: #2b2b2b !important;
    border-radius: #2b2b2b !important;
    width: 300px !important;

  }

  .GifPickerReact .gpr-search-container input.gpr-search{
    background-color: #555 !important;
    font-size: 16px !important;
  }
