@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --primary-color: #8d6aee;

  /* Secondary Colors */
  --secondary-color: #162698;
  --secondary-dark: #0a254a;

  /* Highlight Colors */
  --highlight: #4cb9cf;

  /* Neutral Colors */
  --light: #fbfbfb;
  --dark: #0a122f;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Make the html and body take the full height of the viewport */
  box-sizing: border-box;
}

body {
  font-family: 'ABeeZee', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the content */
}

#root {
  width: 91%;
  height: 95%; 
  background-color: var(--secondary-dark); 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
