:root {
    --primary-color: #0A122F; /* Define the color as a CSS variable */
    --dots-color: #0A122F;
    --secondary-color: #0A254A;
}

/* Container for the last message */
.last-message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 100%;
}






